.about__body {
  height: 100%;
}

.about__photo {
  position: fixed;
  width: 100vw;
  height: 78.125vw;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./img/Anatol.jpg);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  transform: translateY(78.125vw);

  @media (min-width: 1200px) {
    transform: translateY(100vh);
  }

  .about__text {
    width: 100%;
    padding: 5vmax 15vmax;

    @media (max-width: 800px) {
      padding: 3vmax;
    }

    .about__text__first__block, .about__text__second__block, .about__text__third__block {
      font-family: 'Museo Sans Cyrl 100', Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: calc(1.8vh + 0.3vw);
      line-height: 3.5rem;
      text-align: center;
      padding-bottom: 7vmax;

      span {
        display: flex;
        justify-content: center;
        padding-bottom: 2vmax;
        font-size: calc(1.8vh + 0.6vw);
        font-family: 'Museo Sans Cyrl 300', Arial, Helvetica, sans-serif;
      }
    }

    .about__text__first__block {
      text-align: right;

      span {
        justify-content: end;
      }
    }

    .about__text__second__block {
      text-align: left;

      span {
        justify-content: left;
      }
    }

    .about__text__title {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: calc(1.8vh + 0.9vw);
      font-family: 'Museo Sans Cyrl 300', Arial, Helvetica, sans-serif;
      padding: 2vmax 0 5vmax 0;
      line-height: 4rem;
    }
  }

  .about__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5vmax;
    width: 100vw;
    padding: 0 5vw 5vmax 5vw;

    .slider__left-button, .slider__right-button {
      font-size: 5rem;
      opacity: 0.5;
      padding: 0 1vh;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        font-size: 4.7rem;
        user-select: none; 
      }
    }

    .slider__area {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 1vh;
      width: 125vh;
      padding: 1vh;
      overflow-x: hidden;

      @media (max-width: 1350px) {
        width: 94vh;
      }

      @media (max-width: 1050px) {
        width: 63vh;
      }

      @media (max-width: 700px) {
        width: 32vh;
      }

      .slide {
        flex: none;
        width: 30vh;
        height: 30vh;
        background-size: 100%;
        background-repeat: no-repeat;
        transition-duration: 0.5s;
        cursor: pointer;
      }

      .slide1 {
        background-image: url(./img/certificate1.jpg);
      }

      .slide2 {
        background-image: url(./img/certificate2.jpg);
      }

      .slide3 {
        background-image: url(./img/certificate3.jpg);
      }

      .slide4 {
        background-image: url(./img/certificate4.jpg);
      }

      .slide5 {
        background-image: url(./img/certificate5.jpg);
      }

      .slide6 {
        background-image: url(./img/certificate6.jpg);
      }

      .slide7 {
        background-image: url(./img/certificate7.jpg);
      }

      .slide8 {
        background-image: url(./img/certificate8.jpg);
      }

      .slide9 {
        background-image: url(./img/certificate9.jpg);
      }

      .slide10 {
        background-image: url(./img/certificate10.jpg);
      }
    }
  }
}

.modal__close {
  position: fixed;
  top: 3vmax;
  right: 5vmax;
  font-size: 5rem;
  font-family: serif;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
}

.modal__slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #333333;
  background-position: center;
  background-repeat: no-repeat;
}