@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('./fonts/MuseoSansCyrl-500.woff2') format('woff2'),
       url('./fonts/MuseoSansCyrl-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('./fonts/MuseoSansCyrl-300.woff2') format('woff2'),
       url('./fonts/MuseoSansCyrl-300.woff') format('woff');    
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(0.8vh + 0.4vw);
  color: #ffffff;
  font-family: 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body {
  width: 100vw;
  height: var(--js-height);
  background-color: #333333;
  overflow-x: hidden;
}

.to__home {
  position: fixed;
  top: 3vmax;
  right: 5vmax;
  width: 3rem;
  height: 3rem;
  background-size: 100%;
  background-image: url(./img/home.png);
  cursor: pointer;
}

.to__home__dark {
  filter: invert(85%);
}

.off {
  display: none;
}