#agreement {
  background-color: #ffffff;
  text-align: left;
  line-height: 2rem;
  padding: 10vh 5vw;

  b {
    color: #333333;
    font-size: 1.3rem;
  }

  p {
    font-family: 'Museo Sans Cyrl 300', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #333333;
    padding: 1vmin;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    color: #333333;
  }
}